body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 125%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(95, 158, 160, 0.692);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 1.5rem;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, 
a:focus {
  color: white;
  text-decoration: underline;
}

header {
  background-color: cadetblue;
}

footer {
  background-color: cadetblue;
  padding: 1.5rem;
}

footer p {
  margin: 0;
}